fastapi
uvicorn
python-multipart
opencv-python-headless
numpy
cmake
mysql-connector-python
PyJWT
pydantic
setuptools==69.5.1
dlib
face_recognition
git+https://github.com/ageitgey/face_recognition_models
websockets
passlib[bcrypt]
python-multipart
google-auth
google-auth-oauthlib
google-auth-httplib2
python-jose[cryptography]
bcrypt==3.2.2
python-dotenv
pandas
openpyxl
python-multipart
